<h2>List of Upcoming Events:
  <div class = "container">
      <p><% Event.all.each do |e| %>
        <%= e.name  %><br>
        <%= e.type %><br>
        <%= e.date %><br>
        <%= e.website %><br>
        <%= e.description %><br>
        <% end %>
      </p>
  </div>
</h2>

<form align="right" name="new_event" method="get" action="/events/new">
  <label class="button">
    <input name="new_event" type="submit" value="Create New Event">
  </label>
</form>

<form align="right" name="logout_form" method="post" action="logout">
  <label class="button">
  <input name="logout" type="submit" id="submit2" value="Log Out">
  </label>
</form>