<h2>List of Upcoming Events:
  <div class = "container">
      <p><% Event.all.each do |e| %>
        <%= e.name  %>
        <%= e.type %>
        <%= e.date %>
        <%= e.website %>
        <%= e.description %>
        <% end %>
      </p>
  </div>
</h2>

<form align="right" name="logout_form" method="post" action="logout">
  <label class="logout">
  <input name="logout" type="submit" id="submit2" value="Log Out">
  </label>
</form>