<h2>Your Event:</h2>
  <div class="container">
    <p><%= @event.name %><br>
      <%= @event.description %><br>
      <%= @event.website %><br>
    </p>
  </div>


<p><a href="events/edit">Edit Event</a></p>
<form action="/events/<%=@event.id %>/edit" method="post">
  <input type="hidden" name="_method" value="edit">
  <input type="submit" value="Edit Event">
</form>

<form action="/events/<%=@event.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Event">
</form>

<form align="right" name="logout_form" method="post" action="logout">
  <label class="logout">
  <input name="logout" type="submit" id="submit2" value="Log Out">
  </label>
</form>
